<h1>Say#hello</h1>
<p>Find me in app/views/say/hello.html.erb</p>
<%= 1 + 2 %>
<%= "cow" + "boys" %>
<%= 1.hour.from_now.localtime %>

<% for file in @files %>
 <br><%= "file name is #{file} " %>
<% end %>

